.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 1px #b3abab solid;
    box-shadow: 5px 5px 15px #3a3b44;
    
    border-radius: 10px;
    padding: 36px;
    min-width: 300px;
    background: rgb(232, 232, 237);
    background: radial-gradient(circle, rgba(232, 232, 237, 1) 40%, rgba(178, 178, 181, 1) 100%);
}

input,
textarea {
    box-shadow: inset 2px 2px 5px #8c8e92, inset -3px -3px 3px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    background: rgb(206, 206, 209);
}

textarea {
    resize: none;
    font-family: "Sour Gummy", sans-serif;
}

input:focus,
textarea:focus {
    box-shadow: inset 1px 1px 2px #85878d, inset -1px -1px 2px #FFF;
}

textarea {
    border-radius: 10px;
}

.form-button {
    width: 180px;
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #3a3b3d;
    background-image: linear-gradient(to top, #d0d0d0 0%, #c7c6c6 80%, #f8f5f5 100%);
    font-family: "Sour Gummy", sans-serif;
    transition: box-shadow 0.3s ease-in-out;
    font-size: 18px;
}

.form-button:hover {
    box-shadow: -1px -1px 3px #FFF,
        1px 1px 3px #3a3b3d;
}

.form-button:active {
    box-shadow: inset 1px 1px 2px #3a3b3d, inset -1px -1px 2px #FFF;
    background-image: linear-gradient(to top, #c5c4c4 50%, #cacaca 80%, #f8f5f5 100%);
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    color: #2b1818;
    font-family: "Sour Gummy", sans-serif;
}

.form-descr {
    color: #2b1818;
    margin: 0;
    font-family: "Sour Gummy", sans-serif;
}

.form-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    pointer-events: auto;
}

.letter-animation {
    animation: backOutRight;
    animation-duration: 2s;
    margin-top: 23px;
}

.toast {
    position: fixed;
    top: 10px;
    right: 20px;
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #3a3b3d;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

textarea::placeholder {
    color: #333;
}