
  /* |============================
  | include css partials with
  | default @import url()
  |============================
*/ 
/* Common styles */
/* @import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css'); */

/* Sections style */
/* @import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css'); */


body,
html {
  margin: 0;
  padding: 0;
  background: rgb(232, 232, 237);
  background: radial-gradient(circle, rgba(232, 232, 237, 1) 86%, rgba(178, 178, 181, 1) 100%);
}

ul {
  list-style-type: none;
  padding: 0;
    margin: 0;
}

a {
  text-decoration: none;
}


.nav-item {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  
}

.nav-wraper {
display: flex;
flex-direction: column;
align-items: center;
gap:20px;
font-family: "Permanent Marker", cursive;
font-weight: 300;
font-size: 32px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  
  
}

.pseudo-btn,
.form-button,
input {
  border: 0;
  outline: 0;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

.pseudo-btn,
.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #424450;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  min-width: 250px;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
  width: 300px;
  height: 300px;
  background-color: #EBECF0;
border-radius: 50%;
box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #424450;
}


.pseudo-btn:hover,
.form-button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #3a3b3d;
}

.pseudo-btn:active,
.form-button:active {
  box-shadow: inset 1px 1px 2px #3a3b3d, inset -1px -1px 2px #FFF;
}

.pseudo-btn {
  color:#EE4A4A;
}

.logo {
  margin: 24px;
}